extends layout.pug

block navbar 
    button
        a(href="/") Powrót do menu głównego

block content
    h2(style="text-align: center") Przeglądarka hoteli
    p(style="text-align: center") Wybierz hotel:
    
    #hotelListDiv
        ul#hotelList

    nav#buttonArea

    #tableContent

    #roomInfo
