doctype html 
html(lang="pl")
    head 
        link(rel="stylesheet" type="text/css" href="/public/css/style.css")
        link(link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway")
        meta(charset="UTF-8")
        script(src="/public/js/url.js")
        script(src="/public/js/guest.js")
        script(src="/public/js/hotelInfo.js")
        script(src="/public/js/hotelManagement.js")
        script(src="/public/js/main.js")
        title Baza hoteli 
    
    body
        header
            h1 Baza hoteli 

        nav
            block navbar 
        
        main
            block content

        footer 
            p &copy; 2022 Marta Dychała

